{% extends 'template/no_sidebar_base.html' %}
{% load static %}
{% block title %}系统总览{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">系统情况</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>栏目</th>
                        <th>数量</th>
                    </tr>

                    <tr>
                        <td>项目数量</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>爬虫数量</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>任务数量</td>
                        <td>1000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">库存数据</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>数据名</th>
                        <th>数据总量</th>
                        <th>昨日新增</th>
                    </tr>

                    <tr>
                        <td>裁判文书</td>
                        <td>10000000</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>裁判文书</td>
                        <td>10000000</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>裁判文书</td>
                        <td>10000000</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>裁判文书</td>
                        <td>10000000</td>
                        <td>200</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">ES集群</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>项目</th>
                        <th>数量</th>
                    </tr>

                    <tr>
                        <td>集群数量</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>备份数量</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>活动节点</td>
                        <td>1000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--<iframe  src="http://costar1:5601/goto/a618eee7a90333ee1619a536e76570d9?embed=true" width="1280" height="2000"></iframe>-->
</div>
<div class="row">
    <div class="col-md-7">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">裁判文书各数据</h3>
            </div>
            <div class="panel-body">
                kjklsjdf
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">裁判文书</h3>
            </div>
            <div class="panel-body">
                kjklsjdf
            </div>
        </div>
    </div>

    <!--<iframe  src="http://costar1:5601/goto/a618eee7a90333ee1619a536e76570d9?embed=true" width="1280" height="2000"></iframe>-->
</div>

<div class="row">
    <div class="col-md-7">
        <div class=" panel panel-success panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">裁判文书各数据</h3>
            </div>
            <div class="panel-body">
                kjklsjdf
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">裁判文书</h3>
            </div>
            <div class="panel-body">
                kjklsjdf
            </div>
        </div>
    </div>

    <!--<iframe  src="http://costar1:5601/goto/a618eee7a90333ee1619a536e76570d9?embed=true" width="1280" height="2000"></iframe>-->
</div>

{% endblock %}