{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/lib/bootstrap-table.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'img/favicon.ico' %}" type="image/x-icon" rel="icon" />
    <link href="{% static 'css/body.css' %}" rel="stylesheet">

    {%  block css %}{% endblock %}
</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rhino</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active" ><a class=" glyphicon glyphicon-transfer" href="{% url 'overview' %}"> 系统总览</a></li>
                <li class=" dropdown">
                    <a href="#" class="dropdown-toggle glyphicon glyphicon-magnet" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> 数据采集<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">采集</li>
                        <li><a href="{% url 'crawler_manage:project_list' %}">数据项目</a></li>
                        <li><a href="{% url 'crawler_manage:crawler_list' %}">爬虫管理</a></li>
                        <li><a href="{% url 'crawler_manage:task_list' %}">采集任务</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">设置</li>
                        <li><a href="{% url 'crawler_manage:server_list' %}">爬虫服务器</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle glyphicon glyphicon-eye-open" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false"> 监控报警<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">报警<span class="badge">42</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'monitor:crawData_check_result'%}">工商爬虫</a></li>
                        <li><a href="{% url 'web_monitor:show_web_monitor'%}">网站监控</a></li>
                        <li><a href="{% url 'manual_crawler:manual_crawler_show'%}">司法爬虫</a></li>
                        <li><a href="{% url 'monitor:show_big_screen'%}">大屏显示</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle glyphicon glyphicon-cog" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> 设置<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">代理</a></li>
                        <li><a href="#">清洗规则</a></li>
                        <li><a href="#">查看操作记录</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><p class="navbar-text navbar-left">欢迎你：<strong>{{ user.username }}</strong></p></li>
                    <li><a href="{% url 'logout' %}">注销</a></li>
                    <li></li>

                {% else %}
                    <li><a href="{% url 'login' %}">登陆</a></li>
                {% endif %}

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="html_body" class="row">
    <div class="col-sm-12  col-md-12 col-lg-12 main">
        <!-- alert bar -->
        <div id="alert_banner">
        </div>
        <div id="html_container" class="container">
            <!-- 修改内容块 -->
            {% block content %}内容{% endblock %}
        </div>

    </div>
</div>

<!-- loading 遮罩 -->
<div id="loadingModal" class="modal" style="top:50%; z-index: 9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 0;">
        <div class="loader"></div>
    </div>
  </div>
</div>
{% block modal %}{% endblock %}
<script src="{% static 'js/lib/jquery.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap-table-zh-CN.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/lib/select2.full.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/Math.js' %}"></script>
<script type="text/javascript">
    $(document).ajaxStart(function () {
        $('#loadingModal').modal('toggle');
    })

    $(document).ajaxComplete(function () {
        setTimeout(function () {
            $('#loadingModal').modal('toggle');
        },300);
    })

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    window.GLOBAL_CSRF_TOKEN = '{{ csrf_token }}';


    //消息提示
    $(document).ready(function () {

        {% if message %}
            var msg = '{% if message.msg %}{{ message.msg }}{% endif %}';
            var msg_type = '{% if message.msg_type %}{{ message.msg_type }}{% endif %}'

            alert_box(msg_type, msg)
        {% endif %}
    });
</script>
{%  block javascript_file %}{% endblock %}
{%  block javascript %}{% endblock %}

</body>
</html>
